@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

/* Parameters for the page */

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    margin: 0;

    height: auto;
    width: auto;

    background-color: #2d3436;
}

body {
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
}

/* SVG Styling */

#svg-height {
    height: 200px;
}

.svg-clip {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
}

svg {
    
    border: solid 10px black;
}

/* Class Styling */

.heading {
    margin: 10%;
    margin-bottom: 30px;
}

.subheading {
    text-align: inherit;
    top: 50%;
    bottom: 20%;
    margin: 0;
}

.text {
    margin: 0;
}

.subSubheading {
    color: transparent;
    font-size: medium;
    transition-duration: 0.3s;
    font-size: medium;
    right: 50;
    left: 50;
    bottom: 62%;
    margin: 0;
}

.box-container {
    height: 200px;
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    border: 3px transparent solid;
    height: 150px;
    width: 200px;
    margin: 5px;
    display: block;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;

    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.subtitle {
    color: transparent;
    transition-duration: 0.3s;
    font-size: small;
    position: absolute;
    bottom: 50%;
}

.footer {
    color: #636e72;
    text-align: center;
    align-items: center;
    font-size: medium;
    position: absolute;
    bottom: 0;

    display: inline-block;

    -webkit-backface-visibility: hidden;
	-webkit-transform: scale(1);
}

.home {
    color: #636e72;
    text-align: center;
    align-items: center;
    font-size: medium;
    position: absolute;
    bottom: 30;
    display: inline-block;
}

a {
    text-decoration: none;
}

/* Typography */

h1 {
    font-size: 100px;
    color: #636e72;
}

h2 {
    font-size: 40px;
    color: #636e72;
}

h4 {
    color: #636e72;
    transition-duration: 0.2s;
}

h5 {
    text-align: center;
}

/* Animations */

.box:hover h4 {
    color: #81ecec;
    font-size: 40px;
}

.box:hover .subtitle {
    color: #fbc531;
}

.footer:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.Subheading:hover .subSubheading {
    color: #fbc531;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); color: #fbc531; }
    20% { transform: translate(-3px, 0px) rotate(1deg);  }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); color: #636e72; }
}